<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/style.css')}}">
    {% block css %}
    {% endblock %}
    <title>Document</title>
</head>
<body>
<header>
    <h1>Flask projekt</h1>
    <nav>
        <ul>
            <li><a href="{{ url_for('index') }}">Domů</a></li>
            <li><a href="{{ url_for('abc') }}">Abeceda</a></li>
            <li><a href="{{ url_for('link') }}">Formulář</a></li>

        </ul>
    </nav>
</header>

{% block content %}
{% endblock %}

</body>
</html>