{% extends 'base.html' %}
{% block css %}
<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/templates.css')}}">
{% endblock %}

{% block title %}
Knihovna pro přihlášené
{% endblock %}

{% block content %}
<main class="container">
    <section>
        <h2>Vítejte v ABC sekci</h2>
        <p>Vyberte si jedno z následujících písem.</p>
    </section>

    <nav>
        <ul>
            <li ><a>Abeceda</a></li>
            <li><a>Alfabeta</a></li>
            <li><a>Azbuka</a></li>
            <li><a >Hebrejština</a></li>
        </ul>
    </nav>
</main>
{% endblock %}
