{% extends "base.html" %}

{% block content %}

<h2>
    {% block title %}
    formulář
    {% endblock %}
</h2>

<form method="POST">
    <label>username
        <input type="username" name="username" placeholder="ondrej" required>
    </label>

    <label>
        password
        <input type="passwor" name="password">
    </label>

    <label>
        flask
        <input type="radio" name="radio" value="flask">
    </label>

    <label>
        PHP
        <input type="radio" name="radio" value="PHP">
    </label>

    <label>
        Javascript
        <input type="radio" name="radio" value="Javascript">
    </label>
    <input type="submit" value="odeslat">
</form>

{% endblock %}